.scroll {
    overflow-x: auto;
}

.scroll::-webkit-scrollbar {
    height: 5px;
}

.scroll::-webkit-scrollbar-track {
    background: #F1F1F1;
}

.scroll::-webkit-scrollbar-thumb {
    background: #BCBCBC;
}